body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

strong{

    font-weight: 600;
    
}

q{
    font-size: 0.9em;
    font-weight: 100;
}

span{

    font-weight: 100;
    font-size: 0.7em;
}


hr{

    width: 2em;
    height: 1px;
    background-color: black;
    border: none;
    margin: 40px auto;
    background-color: rgb(221, 201, 90);
}