#portfolio h2 {

    font-size: 3em;
    /* text-align: center; */
    color: black;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;

}

#porfolioWebs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.porfolioWebsDisplay {
    width: 350px;
    margin: 20px;
    /* border: 1px solid black;
    border-radius: 10px; */
}

.github {
    width: 30px;
    margin-left: 10px;

}

#paul,
#brenes {
    margin-top: 30px;
    width: 550px;
    text-align: center;
    font-weight: 100;
}

#paul>p {

    margin: 0 50px 0 50px;
    line-height: 21px;
}