#portfolio h2 {

    font-size: 3em;
    /* text-align: center; */
    color: black;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;

}

#porfolioWebs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.porfolioWebsDisplay {
    width: 350px;
    margin: 20px;
    /* border: 1px solid black;
    border-radius: 10px; */
}

.github {
    width: 30px;
    margin-left: 10px;

}

#paul,
#brenes {
    /* margin-top: 30px; */
    width: 550px;
    text-align: center;
    font-weight: 100;
}

#paul>p {

    margin: 0 50px 50px 50px;
    line-height: 25px;
}

#brenes>p {

    margin: 0 50px 50px 50px;
    line-height: 25px;
}

#tituloProject {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    width: 150px;
    margin: auto;
    padding: 5px;
    border: 2px solid rgb(221, 201, 90)
}

#tituloProject>h3 {

    font-size: 20px;
}