#portfolio h2 {

    font-size: 3em;
    /* text-align: center; */
    color: black;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;

}

#porfolioWebs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.porfolioWebsDisplay {
    width: 220px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.github {
    width: 30px;
    margin-left: 10px;

}